.experience {
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    height: max-content;
    background: pink;
    overflow: relative;
}

#main-heading {
    text-align: center;
    padding-top: 30px;
    font-size: 40px;
}